body {
  background-color: #111;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

header h1 {
  color: #00ff99;
}

section {
  margin-top: 30px;
}

footer {
  margin-top: 50px;
  font-size: 14px;
  color: #aaa;
}